* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#Navbar {
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* margin-bottom: 20px; */
    /* margin-top: -100px; */
    position:fixed;
    z-index:10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#first {
    
    padding: 10px 20px;
    height: 100%;
    width: 200px;
    text-align: center;
    margin-top: 15px;
    color: #e5b95f;
    font-size: 21px;
    font-weight: bold;
    margin-top: 60px;
}

#logo {
    height: 100%;
    width: 210px;
}

#logo>a>img {
    height: 82%;
    width: 100%;
    margin-top: 10px;
}

#tools {
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-top:60px;
    color: #e5b95f;

}

#tools>div>img {
    height: 50%;
    width: 50%;
}

 /* ***************** cart ****************** */
 .su_qun {
  
    padding: 3px 3px;
    font-weight: 700;
    color: black;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    background-color: #e5b95f;
    margin-left: 6px;
    margin-top: -15px;
    cursor: pointer;
}

.su_add_to_cart {
    position: fixed;
    top: 0;
    right: -100%;
    /* right: 0; */
    width: 350px;
    height: 100%;
    /* padding: 20px; */
    z-index: 20;
    background-color: white;
    transition: all 0.6s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.su_add_to_cart.active {
    right: 0;
}

.su_add_to_cart_tital {
    padding: 0;
    margin: 0;
    width: 350px;
    background-color: black;
    display: flex;
    height: 56px;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
}

#idont {
    color: white;
    padding: 0;
    margin: 0;
    
    margin-bottom: 50px;
    margin-right: 20px;
    display: block;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

#idont:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

/* ************************************************* */
.dropdown_menu {
    position: absolute;
    background-color:white;
    margin-top: 10px;
    left: 85%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
   
}

.dropdown_menu a {
    color:black;
    padding: 15px 20px;
    text-decoration: none;
   border-bottom: 1px solid #ddd;
   display: block;
}

.dropdown_menu a:hover {
    background-color:#e5b95f;
}

.dropdown:hover .dropdown_menu {
    transition: all 0.5s ease-in-out;
    display: block;
}
/* *********************************************** */
.su_add_to_cart_tital>p {
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-size: 25px;
    text-transform: uppercase;
}
.ap_img_name
{
    width: 100%;
    height: 100%;
    /* background-color: #e5b95f; */
    z-index: 20;
   overflow: scroll;
}
.ap_img_name>div
{
    /* border: 1px solid greenyellow; */
    display:flex;
}
.ap_img_name>div>p
{
    /* width: 55%; */
    font-size: 18px;
    margin: auto;
    
}
.ap_img_name>div>img
{
    display: block;
    width: 40%;
    height: 40%;
}
.ap_img_name>div>div
{
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
/* *****************Product*********** */

.su_product_display {
    width: 100%;
    height: 60%;
    background-color: white;
}

.su_total_in {
    height: 8%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.su_total_in>div {
    display: flex;
    color: #e5b95f;
}

#cart_opan {
    cursor: pointer;
   
}

.su_add_to_cart>button {
    margin: 0;
    padding: 0;
    display: block;
    width: 99%;
    margin: 10px 2px;
    padding: 15px 0px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid;
    box-sizing: border-box;
    cursor: pointer;
}

.su_add_to_cart>button+button {
    background-color: #e5b95f;
    border: none;
    font-weight: 600;
}

.su_add_to_cart>button:hover {
    border: none;
    background-color: #e5b95f;
}

.su_add_to_cart>button+button:hover {

    border: none;
    color: white;
    background-color: black;
}


/* ********************single Product******************* */

/* ***********************search*************** */

.search_pr {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 320px;
    background-color: white;
    transition: all 0.6s ease-in-out;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search_pr.open {
    top: 0;

}

#ap_search_of {
    width: 95%;
    color: black;
    background: none;
    border: none;
    border-bottom: 2px solid #ddd;
    font-weight: 700;
    padding: 10px 20px;
    height: auto;
    text-transform: lowercase;
    font-size: 36px;
    outline: none;
}

#ap_search_of+i {
    font-size: 30px;
}

#ap_search_of::placeholder {
    color: black;
}

#idont_closs {
    display: block;
    margin: 20px 60px;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
}

.search_pr>p {
    margin: 20px 30px;
    font-size: 12px;
}

i {
    cursor: pointer;
}