* {
    font-family:  Helvetica, sans-serif;
    font-size: 13px;
    /* padding: 0px;
    margin: 0px; */

}
* :focus{
    outline: none;
}
#filter {
    display: flex;
    justify-content: space-around;
    width: 10%;
    margin: auto;
    font-size: 13px;
    margin-top: 20px;
}
#top-input{
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    /* justify-content: end; */
    /* justify-self: end; */
}
#input {
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    text-align: end;
    margin-top: 20px;
    justify-self: end;
}
#input>div{
    /* border: 1px solid red; */
   
    width: 1.5%;
    cursor: pointer;
}

#input>div>img{
    background-color: transparent;
width: 100%;
/* height: 150%; */
}

#search {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid black;
    font-size: 20px;
    color: black;
    padding: 7px;

}

#trends {
    margin-top: 6%;
    width: 90%;
    /* border: 1px solid red; */
    position:absolute;
    right: 0px;
    display: grid;
    /* gap: 20%; */
   
}
.trends{
    font-size: 12px;
    color: rgb(12, 12, 12);
    cursor: pointer;
}

#main{
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 3%;
    margin-top: 50px;

}
#main>div>img{
    width: 100%;
   /* cursor: pointer;  */
}
#main>div{
    cursor: pointer;
}
#main>div>p:hover{
    text-decoration: underline;
    
}



#navbar{
    width: 100%;
    height: 100px;
    /* border: 1px solid rgb(29, 0, 252); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar_left{
display: flex;
justify-content: space-between;
align-items: center;
width: 200px;
height: 100px;
/* border: 1px solid black; */
}
#navbar_left div:nth-child(1) {
display: flex;
justify-content: center;
width: 100px;
height: 100px;
/* border: 1px solid yellow; */
font-size: 40px;
}
#navbar_left div:nth-child(2) {
width: 100px;
height: 100px;
/* border: 1px solid red; */
}
#navbar_left div:nth-child(2) img{
height: 100%;
}

#right{
width: 430px;
height: 100px;
/* border: 1px solid red; */
display: flex;
/* align-items: center; */
justify-content: space-around;


}
#navbar_input{
width: 250px;      
height: 50px;  
margin-top: 10px;
margin-right: 10px;
border: 0px solid white;
text-decoration: underline;
color: black;
}
#navbar_input ::placeholder{
font-size: 40px;
}

#right div:nth-child(2){
width: 130px;
margin-top: 20px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#right div:nth-child(3){
width: 120px;
margin-top: 20px;
font-family:'Segoe UI', Tahoma, Gen
eva, Verdana, sans-serif;
}
#right div:nth-child(4){
width: 70px;
margin-top: 10px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
}


#sidebar div:nth-child(1){
display: flex;
}
#sidebar div:nth-child(1) a{
margin-left: 10px;
color: black;
text-decoration: none;
}

.anchor a{
text-decoration: none;
color: black;
}
